*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* 所有元素默认使用标准盒模型 */
	word-break: break-all;
}

body,html {
	margin: 0;
	padding: 0;
	// font-family: "Monospaced Number","PingFang SC",  "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #ffffff;
	font-size: 14px;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
blockquote,
p {
	padding: 0;
	margin: 0;
	font-size: 14px;
}

table,
td,
tr,
th {
	font-size: 14px;
}

/* h5标签默认块元素 */
main,
header,
nav,
footer,
article,
aside,
section {
	display: block;
}

/* a标签默认样式 */
a {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

/* 清除a标签的伪类效果 */
a:hover,
a:active,
a:focus {
	text-decoration: none;
}

/* 图片默认样式 */
img {
	vertical-align: top;
	border: 0;
}

address,
cite,
code,
em,
th {
	font-weight: normal;
	font-style: normal;
}

/* 去掉列表默认样式 */
ul,
ol,
li {
	list-style-type: none;
}

/* 去掉em，i的斜体效果 */
em,
i {
	font-style: normal;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
/* 去除按钮的默认样式 */
input[type="submit"],
input[type="tel"],
input[type="password"],
input[type="button"],
input[type="reset"],
button[type="submit"],
button[type="button"],
input[type="number"],
button[type="reset"] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance:textfield;
	margin: 0;
	outline: none;
	// border: 0;
}

button{
	margin: 0;
	padding: 0;
	border: 1px solid transparent;  //自定义边框
	outline: none; 
}
/* 去除文本框获取焦点时的高亮框 */
input[type="text"]:focus,
button[type="text"]:focus {
	outline: none;
}

input[type="text"],
button[type="text"],
textarea {
	appearance: none;
	// border: 0;
}

button,
input,
textarea {
	border-radius: 0;
	user-select: auto;
}

table {
	border-collapse: collapse;
}

input::-webkit-input-placeholder {
	color: #999999;
}
// ::-webkit-scrollbar {
// 	width: 6px!important;
// 	height: 6px!important;
// }
// ::-webkit-scrollbar-track{
// 	box-shadow: inset 0 0 6px rgba(243,245,248,1);
// 	border-radius: 10px;
// 	background-color: #f5f5f5;
// }
// /*定义滑块，内阴影及圆角*/
// ::-webkit-scrollbar-thumb{
// 	height: 10px;
// 	border-radius: 10px;
// 	background-color: rgba(173,181,192,1);
// }
// html::-webkit-scrollbar {
// 	height: 0;
// 	width: 0 !important;
// }
::-webkit-scrollbar {
	height: 0;
	width: 0 !important;
}

.el-table__empty-block{
	display: none!important;
}
span{
	outline: none;
}
